@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);

::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: rgb(4, 0, 20);
    border-radius: 8px;
    margin: 2px;
}
::-webkit-scrollbar-thumb {
    background: rgb(48, 32, 64);
    border: 3px, solid rgb(12, 0, 28);
    width: 8px;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(64, 48, 80);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    box-sizing: border-box;
    color: white;
}

html, body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background-color: blue;
    border: 10px solid red;
}

body {
    background-image: linear-gradient(rgb(16, 0, 32), black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    border: 10px solid green;
}


header {
    background-color: rgb(8, 0, 24);
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 32px;
}

footer {
    background-color: rgb(8, 0, 24);
    margin: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 32px;
}

.logo {
    width: 80px;
    height: 80px;
}

.lang-menu {
    margin-right: 32px;
    position: relative;
}

.selected-lang {
    width: 180px;
    height: 64px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.selected-lang:before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: var(--flag-image);
    background-size: 32px 32px;
    margin-right: 10px;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    background-color: rgb(16, 0, 32);
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
}

.lang-menu:hover ul {
    display: block;
}

.lang-menu ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    width: 180px;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
}

.tr:before {
    background-image: url("res/flags/tr.png");
    background-size: 32px 32px;
}
.en:before {
    background-image: url("res/flags/en.png");
    background-size: 32px 32px;
}
.de:before {
    background-image: url("res/flags/de.png");
    background-size: 32px 32px;
}
.ru:before {
    background-image: url("res/flags/ru.png");
    background-size: 32px 32px;
}

.lang-menu ul li a:hover {
    background-color: #f2f2f2;
}

.navbar ul {
    flex: 1;
    text-align: center;
}

.navbar ul li {
    display: inline-block;
    list-style: none;
    margin: 20px;
}

.navbar ul a {
    text-decoration: none;
}

.paragraph {
    display: flex;
    margin: 0;
    padding: 10px 20px;
}
.paragraph p {
    font-size: 20px;
}
.paragraph p em {
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}
.paragraph p i {
    font-size: 20px;
    color: turquoise;
    font-style: normal;
    font-weight: bold;
}
.paragraph p a {
    font-size: 16px;
    color: lightgray;
}

.introduction {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    height: 80vh;
    width: 80%;
    border: 3px solid green;
    gap: 32px;
    padding: 32px 32px;
}

.introduction img {
    width: 288px;
    height: auto;
    align-self: center;
}

.text {
    display: flex;
    justify-content: flex-start;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.text p {
    font-size: 24px;
}

.text a {
    display: flex;
    font-size: 24px;
    background: white;
    border-radius: 16px;
    color: rgb(16, 0, 32);
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    font-weight: bolder;
    text-decoration: none;
}

.text-container {
    position: relative;
    top: 20vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 80vh;
    width: 100%;
    border: 3px solid red;
    gap: 32px;
    padding: 32px 32px;
}

.text-container img {
    height: 100%;
    width: auto;
    align-self: center;
    border-radius: 32px;
}